.hi{
    font-size: 25px;
    color:blueviolet;
    text-align:center;
    background-color: azure;
    
}
.hii{
    font-size: 25px;
    color:darkgoldenrod;
    text-align: center;
    background-color: azure;
  
}

.change{
    font-size: 20px;
    color: crimson;
    
   
}

.table{
    padding-left: 13cm;
}
.c{
    background-color:azure;
}
.d{text-align: center;
    background-color: azure;

}
.e{
    background-color: azure;
}
.z{
    padding-left: 500px;
}
.class{
    background-color: cornsilk;
}